# My Main folders (Documents, Projects, etc)
Applications
Downloads
Music
Public
Desktop
Library
Pictures
X-Plane*
Documents
Movies
Projects
photothing
# [A-Za-z]*
!README.md

# Cache/Temp files
.Trash
.lesshst
.cache
.dlv
.DS_Store
*.swp
.sync-conflict*
.*_history
.viminfo
.histfile
.motd_shown

# Things I simply don't want to track
.docker
.cups
.rd
.redhat
.terraform*
.CFUserTextEncoding
.localized
.local
.sudo_as_admin_successful 

# shell
.*shrc
!.zshrc
.oh-my-zsh
.zsh_sessions
.zcomp*
.bash*
.profile
# oh-my-zsh does this ... I guess for a reason
.shell.pre-oh-my-zsh 

# Former dotfiles configuration
.dot*

# Sensitive data
.aws
.sensitive
.ssh

# tmux
.tmux/plugins

# vim
.vim

