*
!.gitignore
!.gitconfig
!README.md

# zsh
!.zshrc
!.zshenv
!.zsh/
!.zsh/**/
!.zsh/**/.*
!.zsh/**/*

# tmux
!.tmux.conf
!.tmux/conf.d/**/*

# .local
!.local/
!.local/bin
!.local/bin/genv/
!.local/bin/genv/*
!.local/bin/genv/src/
!.local/bin/genv/src/*
!.local/bin/dot-env

# karabiner-elements
!.config/karabiner/
!.config/karabiner/**/
!.config/karabiner/**/.*
!.config/karabiner/**/*


# vim/nvim
*.swp
