# My Main folders (Documents, Projects, etc)
Applications
Downloads
Music
Public
Desktop
Library
Pictures
X-Plane*
Documents
Movies
Projects
photothing
# [A-Za-z]*
!README.md

# Google Drive
Google Drive

# VirtualBox
VirtualBox*

# Cache/Temp files
.Trash
.lesshst
.cache
.dlv
.DS_Store
*.swp
.sync-conflict*
.*_history
.viminfo
.histfile
.motd_shown
.pyenv
.vagrant*
.ruff_cache
.tflint*
.mypy_cache


# Things I simply don't want to track
.docker
.cups
.rd
.redhat
.terraform*
.CFUserTextEncoding
.localized
.local/*
!./local/bin/dot-env
.sudo_as_admin_successful
.azure
.cargo
.assume
.granted
.gk
.cdk
.amazon*
.adobe
.duckdb
.mongodb
# nodejs
.nvm
.npm*

# k8s
.minikube
.kube*

# vscode stuff
.vs*

# shell
.*shrc
!.zshrc
.oh-my-zsh
.zsh_sessions
.zcomp*
.bash*
.profile
# oh-my-zsh does this ... I guess for a reason
.shell.pre-oh-my-zsh

# Former dotfiles configuration
.dot*

# Sensitive data
.aws
.sensitive
.ssh

# tmux
.tmux/plugins

# vim
.vim

# .config
.config/*
!.config/karabiner

